Завдання 2.
Скачайте датасет  Amazon Top 50 Bestselling Books 2009 – 2019, що знаходиться  за посиланням 
 Набір даних із 50 найбільш продаваних книг Amazon з 2009 по 2019 рік. Містить 550 книг, дані були розділені на художню літературу та нон-фікшн за допомогою Goodreads.
 1. Прочитайте csv файл (метод read_csv)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

1. Прочитайте csv файл (метод read_csv)

In [2]:
df = pd.read_csv("bestsellers with categories.csv", encoding="ISO-8859-1")
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

2. Виведіть перші 10 рядків (метод head)

In [3]:
df.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

3. Виведіть розміри датасету (метод shape)

In [4]:
df.shape

(550, 7)

In [5]:
print("Кількість книг у датасеті:", len(df))

Кількість книг у датасеті: 550

4. Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.

In [6]:
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
df

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

5. Вивести кількість пропусків у кожному стовпчику.

In [7]:
missing_values = df.isna().sum()
missing_values

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [8]:
# Питання: Чи є в якихось змінних пропуски? (True / False)
print("Чи є в якихось змінних пропуски? Відповідь:", any(missing_values > 0))

Чи є в якихось змінних пропуски? Відповідь: False

6. За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre

In [9]:
unique_genres = df['genre'].unique()
unique_genres

array(['Non Fiction', 'Fiction'], dtype=object)

Унікальним жанром є Fiction

7. Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median

In [12]:
max_price = df['price'].max()
min_price = df['price'].min()
mean_price = df['price'].mean()
median_price = df['price'].median()
print("Максимальна ціна:", max_price)
print("Мінімальна ціна:", min_price)
print("Середня ціна:", mean_price)
print("Медіанна ціна:", median_price)

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

8. Виконайте наступні завдання з пошуку і сортування даних

In [13]:
highest_rating = df['user_rating'].max()
books_with_highest_rating = df[df['user_rating'] == highest_rating]
number_of_books_with_highest_rating = len(books_with_highest_rating)
book_with_highest_rating = books_with_highest_rating['name'].values[0]
book_with_most_reviews = df[df['reviews'] == df['reviews'].max()]['name'].values[0]
max_price_2010 = df[df['year'] == 2010]['price'].max()
num_fiction_books_2012 = len(df[(df['genre'] == 'Fiction') & (df['year'] == 2012)])
num_books_4_9_rating = len(df[(df['user_rating'] == 4.9) & (df['year'].isin([2010, 2011]))])

# Питання: Який рейтинг у датасеті найвищий?
print("Найвищий рейтинг:", highest_rating)

# Питання: Скільки книг мають такий рейтинг?
print("Кількість книг з найвищим рейтингом:", number_of_books_with_highest_rating)

# Питання: Яка книга має найбільше відгуків?
print("Книга з найбільшою кількістю відгуків:", book_with_most_reviews)

# Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча?
print("З них найдорожча книга у 2010 році:", max_price_2010)

# Питання: Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році?
print("Кількість книг жанру Fiction у 2012 році:", num_fiction_books_2012)

# Питання: Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках?
print("Кількість книг з рейтингом 4.9 у 2010 та 2011 роках:", num_books_4_9_rating)

Найвищий рейтинг: 4.9
Кількість книг з найвищим рейтингом: 52
Книга з найбільшою кількістю відгуків: Where the Crawdads Sing
З них найдорожча книга у 2010 році: 46
Кількість книг жанру Fiction у 2012 році: 21
Кількість книг з рейтингом 4.9 у 2010 та 2011 роках: 1

9. Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.

In [23]:
result = df.groupby('genre')['price'].agg(min_price='min', max_price='max')
result

             min_price  max_price
genre
Fiction              0         82
Non Fiction          0        105